.DS_Store
book/*.idx
book/*.ilg
book/*.ind
book/*.bbl
book/*.blg
book/*.aux
book/*.pdf
book/*.toc
book/*.out
book/*.log
book/*.synctex.gz
src/algorithms/*.log
web/docs
web/epub_temp
*.epub
**/*~
**/*/*~
