.DS_Store
book/*.aux
book/*.pdf
book/*.toc
book/*.out
book/*.log
workspace/**/*.bbl
workspace/**/*.blg
workspace/**/*.toc
workspace/**/*.aux
workspace/**/*.pdf
workspace/**/*.out
workspace/**/*.log
workspace/*.bak
deprecated/**/*.toc
deprecated/**/*.aux
deprecated/**/*.pdf
deprecated/**/*.out
deprecated/**/*.log
!workspace/release/*.pdf
