.DS_Store
book/*.idx
book/*.ilg
book/*.ind
book/*.bbl
book/*.blg
book/*.aux
book/*.pdf
book/*.toc
book/*.out
book/*.log
book/*.synctex.gz
workspace/**/*.bbl
workspace/**/*.blg
workspace/**/*.toc
workspace/**/*.aux
workspace/**/*.pdf
workspace/**/*.out
workspace/**/*.log
workspace/*.bak
workspace/**/*.synctex.gz
deprecated/**/*.toc
deprecated/**/*.aux
deprecated/**/*.pdf
deprecated/**/*.out
deprecated/**/*.log
!workspace/release/*.pdf
src/algorithms/*.log
web/docs
