body { 
	background-color: #fff; color: #333; 
	padding: 0px 0px 0px 0px;
	margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;  
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.flash { color: green; }

div.head {
	background-color: #A9D0F5;
	margin-bottom: 20px;
}
div.menu {
	background-color: #ddd;
	text-align: left;
	padding: 0px 0px 0px 10px;
}
div.title {
	color: #555;
	font-size: 30px;
	padding: 10px;
}
div.body {
	padding: 10px;
	width: 800px;
}
div.welcome {
	color: black;
	font-size: 20pt;
	margin-bottom: 20px;
}
div.subtitle {
	color: black;
	font-size: 20px;
	margin-bottom: 20px;
}
div.subsubtitle {
	color: black;
	font-size: 15px;
	margin-bottom: 15px;
	font-variant: small-caps;
}
div.text {
	margin-bottom: 10px;
}

div.about {
	margin-bottom: 20px;
}
div.landing_options {	
	margin-bottom: 20px;
}

div.algorithm{
	color: #666;
}
div.algorithm_subheading {
	margin-top: 25px;
	margin-bottom: 5px;
	font-style: bold;
	font-variant: small-caps;
	font-size: 13pt;
	color: black;
	background-color: #eee;
}
div.algorithm_title{	
	margin-bottom: 20px;
	
}
div.algorithm_menu {
	margin-top: 10px;
	font-size: 80%;
}
div.algorithm_name {
	color: black;
	text-transform:uppercase;
	font-size: 40px;
	margin-bottom: 5px;
	font-style: bold;
}
div.algorithm_aliases {
	font-style: italic;
}

table.algorithm_fields, th {
	text-align: left;
	vertical-align:top;
}

table.algorithm_bibliography_table, td {
	text-align: left;
	vertical-align:top;
	padding: 0px 0px 12px 0px;
}

p.book_description {
	font-size: 111%;
}


div.algorithm_footer {
	margin-top: 50px;
	font-size: 11px;
}