body { 
	background-color: #eee; color: #333; 
	padding: 0px 0px 0px 0px;
	margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;  
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.flash { 
	color: green; 
	font-weight: bold;
	padding: 0px;
}



div.head {
	background-color: #fff;
	margin-bottom: 10px;
	padding-bottom: 0px;
}
div.title {
	color: #444;
	font-size: 130%;
	padding: 8px;
}
div.body {
	margin-left: 0px;
	padding: 0px;
}

table.content {
	padding: 0px;
	border-collapse: collapse;
}

td.menu {
	text-align: left;
	padding: 10px 10px 10px 0px;
	width: 180px;		
}
div.menu_title {
	text-transform: lowercase;
	padding: 0px;
	font-size: 90%;
	padding-top: 15px;
	padding-left: 10px;
}
div.menu_content ul {
	margin-top: 2px;
	background: #fff;	
	font-size: 85%;
	padding-left: 18px;
	list-style-type: square;
	border-style:solid;
	border-width:1px;
	border-color:#aaa;
}

div.menu_content li {
	padding-bottom: 4px;
}

td.page {
	background-color: #fff;
	padding: 10px;
	width: 800px;
	border-style:solid;
	border-width:1px;
	border-color:#aaa;
	text-align: justify;
}
div.footer {
	color: #888;
	margin-top: 10px;
	font-size: 80%;
	vertical-align: baseline;
}



div.welcome {
	color: black;
	font-size: 20pt;
	margin-bottom: 20px;
}
div.subtitle {
	color: black;
	font-size: 170%;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #aaa;
}
div.subsubtitle {
	color: black;
	font-size: 130%;
	padding-bottom: 5px;
	margin-bottom: 20px;
	margin-top: 5px;
	font-variant: small-caps;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #aaa;
}


div.algorithm{
}

div.algorithm_title{	
	padding-bottom: 10px;
	padding-top: 10px;
}
div.algorithm_name {
	color: black;
	text-transform: capitalize;
	font-size: 300%;
	font-style: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #aaa;
	padding-bottom: 8px;
}
div.algorithm_aliases {
	#font-style: italic;
	font-size: 85%;
}


div.algorithm_subheading {
	padding-top: 15px;
	padding-bottom: 5px;
	font-style: bold;
	font-variant: small-caps;
	font-size: 13pt;
	color: black;	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #aaa;
}


div.algorithm_menu ul {
	list-style-type: square;
}

table.algorithm_fields, th {
	text-align: left;
	vertical-align:top;
}

table.algorithm_bibliography_table, td {
	text-align: left;
	vertical-align:top;
	padding: 0px 0px 12px 0px;
}


div.landing_options {	
	margin-top: 30px;
	margin-bottom: 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #aaa;
	text-align: center;
	padding: 20px;
	font-size: 120%;
}
div.option_buy_the_book {
	padding: 10px;
}
div.option_or {
	padding: 10px;
}
div.option_free {
	padding: 10px;
}





