<h2>Welcome to clever algorithms</h2>


<%= link_to "list all algorithms", :controller => "algorithms" %>
<br />
<%= link_to "about math", "http://mathcache.appspot.com/static/docs.html" %>
<br />
<%= link_to "buy the book now", book_path %>