<h2>Welcome to the admin interface</h2>

<ul>
	<li><%= link_to "Edit Algorithms", :controller => "admin/algorithms", :action => "index" %></li>
	<li><%= link_to "Add New Algorithm", :controller => "admin/algorithms", :action => "new" %></li>
	<li></li>
</ul>

site overview...things like
<ul>
	<li>most popular algorithms today, last 7 days, last 30 days, forever</li>
	<li>most requested algorithm...</li>
	<li>recent requests...</li>
	<li>recent suggestions...</li>
</ul>