<% title("All algorithms") %>

<div class="subtitle">All algorithms</div>

<div class="text">
	There are <strong><%=h @algorithms.size %> algorithms</strong> described in the Clever Algorithms project.
</div>

<div class="algorithm_list">
	<ul>
	<% @algorithms.each do |algorithm| %>
		<li><%= link_to algorithm.name, algorithm %></li>		
	<% end %>
	</ul>
</div>

